<a href="https://colab.research.google.com/github/PKohli876/StudySamples/blob/main/LogiscRegressionSample_Abalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Step1 : Load Numpy and Panda
import numpy as np
import pandas as pd

#Step2 : Load Dataset
abalone_df = pd.read_csv("https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Abalone/02-Data.csv")
abalone_df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Adult
0   M   0.455     0.365  ...          0.1010         0.150      1
1   M   0.350     0.265  ...          0.0485         0.070      0
2   F   0.530     0.420  ...          0.1415         0.210      1
3   M   0.440     0.365  ...          0.1140         0.155      1
4   M   0.330     0.255  ...          0.0395         0.055      0

[5 rows x 9 columns]

In [ ]:
#Step3 : Clen and drop columsn not requried in model
abalone_df_final = abalone_df.drop(['Sex'],axis=1)
abalone_df_final.head()
#Step4 : Crate dataset X with list of independent variable
X = abalone_df_final.loc[:,abalone_df_final.columns != 'Adult']
X.head()

   Length  Diameter  Height  ...  Shucked weight  Viscera weight  Shell weight
0   0.455     0.365   0.095  ...          0.2245          0.1010         0.150
1   0.350     0.265   0.090  ...          0.0995          0.0485         0.070
2   0.530     0.420   0.135  ...          0.2565          0.1415         0.210
3   0.440     0.365   0.125  ...          0.2155          0.1140         0.155
4   0.330     0.255   0.080  ...          0.0895          0.0395         0.055

[5 rows x 7 columns]

In [ ]:
#Step 5 : Crate dataset Y with Dependent or target variable
Y = abalone_df_final.Adult

In [ ]:
#Step 6: Spilt X and Y into training and test dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=1)
print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

      Length  Diameter  Height  ...  Shucked weight  Viscera weight  Shell weight
3213   0.555     0.420   0.140  ...          0.3300          0.2430        0.2100
4080   0.555     0.430   0.125  ...          0.3395          0.1355        0.2095
1891   0.565     0.435   0.145  ...          0.3975          0.1580        0.2550
3566   0.575     0.450   0.155  ...          0.3605          0.2110        0.2575
3438   0.430     0.335   0.105  ...          0.1880          0.0785        0.0900
...      ...       ...     ...  ...             ...             ...           ...
2895   0.540     0.415   0.110  ...          0.2755          0.1500        0.1765
2763   0.550     0.425   0.135  ...          0.2570          0.1700        0.2030
905    0.320     0.240   0.090  ...          0.0700          0.0265        0.0425
3980   0.525     0.410   0.115  ...          0.4160          0.1630        0.1800
235    0.295     0.225   0.080  ...          0.0485          0.0320        0.0400

[2923 rows x 7 columns]
      Length  Diameter  Height  ...  Shucked weight  Viscera weight  Shell weight
17     0.440     0.340   0.100  ...          0.1880          0.0870        0.1300
1131   0.565     0.435   0.150  ...          0.5795          0.1825        0.2060
299    0.370     0.280   0.105  ...          0.0905          0.0585        0.0750
1338   0.580     0.455   0.135  ...          0.4050          0.1670        0.2040
2383   0.525     0.390   0.135  ...          0.2265          0.1310        0.2100
...      ...       ...     ...  ...             ...             ...           ...
802    0.425     0.330   0.130  ...          0.1520          0.0935        0.1550
3016   0.435     0.335   0.105  ...          0.1560          0.0500        0.1135
2886   0.505     0.365   0.115  ...          0.2500          0.0960        0.1500
2580   0.525     0.425   0.125  ...          0.4035          0.1705        0.1950
2814   0.275     0.200   0.055  ...          0.0380          0.0210        0.0260

[1254 rows x 7 columns]
3213    1
4080    0
1891    1
3566    1
3438    0
       ..
2895    1
2763    1
905     0
3980    0
235     1
Name: Adult, Length: 2923, dtype: int64
17      1
1131    0
299     1
1338    1
2383    1
       ..
802     1
3016    0
2886    0
2580    0
2814    0
Name: Adult, Length: 1254, dtype: int64

In [ ]:
#Step 7: Create and fit model
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state=3)
logreg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=3, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#Step 8: Predict Test Model
y_pred_test = logreg.predict(X_test) 
print(y_pred_test)

[0 1 0 ... 0 1 0]

In [ ]:
#Step 9: Evaluate Model
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(Y_test,y_pred_test))
from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(Y_test, y_pred_test))
confusion_matrix.index = ['Actual Adult','Actual Non Adult']
confusion_matrix.columns = ['Predicted Adult','Predicted Non Adult']

print(confusion_matrix)

Accuracy score for test data is: 0.8221690590111643
                  Predicted Adult  Predicted Non Adult
Actual Adult                  295                  112
Actual Non Adult              111                  736